
h1.my{
  color: rgb(49, 170, 211);
}

body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/008/826/799/non_2x/abstract-blue-stripped-background-for-design-dark-and-light-repeated-waves-water-pattern-for-print-web-texture-element-vector.jpg'); 
   background-repeat: repeat; 
}


.button {
  padding: 8px 6px;
  background-color: lightblue;
  border: solid 1px #2e7e99;
  color: black;
  border-radius: 6px;
  width: 100px;
}