$primary-color: rgb(98, 175, 201);
$secondary-color: rgb(109, 231, 123);
$default-color: gray;

$color-importante: red;
$color-normal: blue;
$color-defecto: gray;


$small-size: 480px;
$mid-size: 720px;
$large-size: 1024px;